/* App.css */
.App {
  background-color: #000000; /* Fond noir pur */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* On supprime les styles par défaut de Create React App qui polluent l'écran */
.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}